* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-bannerbig {
    display: none;
}

.img-bannersmall {
    width: 100%;
}

.portfolio{
    width: 100%;
    font-family: 'Open Sans';
}
.portfolio h2{
    padding: 30px 30px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 40px;
    color: #111111;
    line-height: 44px;
}
.portfolio p{
    padding: 30px 30px 20px;
    font-weight: 300;
    font-size: 20px;
    color: #111111;
    line-height: 25px;
}
.portfolio ul{
    padding: 30px 30px 20px 70px;
    font-weight: 400;
    font-size: 20px;
    color: #111111;
    line-height: 25px;
}
.portfolio ol{
    padding: 30px 30px 100px 70px;
    font-weight: 400;
    font-size: 20px;
    color: #111111;
    line-height: 25px;
}
.img-profile {
    padding: 30px 0px 20px;
    width: 100%;
}
/*estilo del footer*/
.contact-info {
    color: lightgray;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*cambio con pantalla de tablet*/
@media only screen and (min-width:768px){
    .img-bannerbig {
        display: block;
        width: 100%;
        padding-bottom: 30px;
        
    }
    .img-bannersmall {
        display: none;
    }
    .wrapper {
        width: 700px;
        margin: 0 auto;
    }
    .portfolio h2{
        padding: 30px 0px 0px;
        font-size: 50px;
        line-height: 54px;
    }
    .portfolio p{
        padding: 30px 0px 0px;
        font-size: 20px;
        line-height: 25px;
    }
    .portfolio ul{
        padding: 30px 0px 0px 70px;
        font-size: 20px;
        line-height: 25px;
    }
    .portfolio ol{
        padding: 30px 0px 100px 70px;
        font-size: 20px;
        line-height: 25px;
    }
    .img-profile {
        padding: 30px 0px 0px;
        width: 100%;
    }
}
/*cambio con pantalla de pc*/
@media only screen and (min-width:1100px){
    .wrapper {
        width: 1000px;
    }
    .portfolio {
        width: 50%;
        float: right;
    }
    .portfolio h2 {
        padding: 20px 0px 0px 30px;
    }
    .portfolio p {
        padding: 20px 0px 0px 30px;
    }
    .portfolio ul {
        padding: 20px 0px 0px 70px;
    }
    .portfolio ol {
        padding: 20px 0px 100px 70px;
    }
    .img-profile {
        padding-bottom: 20px;
        width: 50%;
        float: left;
    }
}

/*sticky footer*/
.page-wrap {
    min-height: 100%;
    margin-bottom: 30px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .contact-info, .page-wrap:after {
    height: 30px; 
  }
  .contact-info {
    background: black;
  }

/*estilo del link de contacto*/
a:link {
      color: lightgray;
}
a:hover {
      color: white;
}
a:active {
    color: black;
    background-color: lightgray;
}
